@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Colombia - Bogotá<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    312 518 7951
</address>

<address>
    <strong>Soporte:</strong> <a href="vramirezdia@uniminuto.edu.co">vramirezdia@uniminuto.edu.co</a><br />
   
</address>
